body{
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

*{
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: auto;
}

.sections{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section1-bg{
    width: 50%;
    height: auto;
    background-image: url("images/twitterbg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.section1{
    width: 100%;
    opacity: 0.8;
    background-color: #0ba1d2;
    padding: 150px 150px 220px 150px;
}

.section1-contents{
    display: flex;
}

.section1 p{
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 4;
    z-index: 30;
}

.material-icons-div{
    margin-top: 20px;
}

.icon{
    width: 30px;
    line-height: 4;
}

.section2{
    width: 25%;
    height: auto;
    margin: 0 auto;
    padding: 130px 0 0 0;
}

.article-imgbtn{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.article-imgbtn img{
    width: 40px;
    height: 35px;
}

.login-btn1{
    padding: 12px;
    background-color:#ffffff;
    border: none;
    border: 1px solid #0ba1d2;
    color:#0ba1d2;
    border-radius: 40px;
    font-weight: 600;
    font-size: 12px;
    font-weight: 600;
}

.login-btn1:hover{
    background-color: #e4f1f5;
    cursor: pointer;
}

h1{
    font-size: 27px;
    font-weight: 600;
}

h2{
    font-size: 16px;
    font-weight: 600;
    margin-top: 40px;
}

.signup-btn{
    width: 100%;
    padding: 8px;
    font-size: 15px;
    font-weight: 600;
    background-color:#0ba1d2;
    border: none;
    border: 1px solid #0ba1d2;
    color:#ffffff;
    border-radius: 40px;
    margin-bottom: 15px;
}

.signup-btn:hover{
    background-color: blue;
    border: 1px solid blue;
    cursor: pointer;
}

.login-btn2{ 
    width: 100%;
    padding: 8px;
    font-size: 15px;
    font-weight: 600;
    background-color:#ffffff;
    border: none;
    border: 1px solid #0ba1d2;
    color:#0ba1d2;
    border-radius: 40px;

}

.login-btn2:hover{
    background-color: #e4f1f5;
    cursor: pointer;
}
.buttons{
    display: block;
}


/*Footer*/
footer{
    width: 100%;
    height: auto;
    padding: 12px 14px;
    border-top: 1px solid #dbecf3;
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
    text-align: center;
}

footer a{
    text-decoration: none;
    font-size: 11px;
    margin-right: 20px;
    color: #a5aaac;
}

footer a:hover{
    text-decoration: underline;
}

#copy{
    color: #c3c8ca;
    font-size: 12px;
}

.material-icons{
    color: #ffffff;
    font-size: 48px;
}

@media only screen and (max-width: 768px){
    
    .section1{
        padding: 150px 50px 220px 50px;
    }

    .section1 p{
        line-height: 2;
        margin-top: 20px;
    }

    .material-icons-div{
        margin-right: 10px;
    }
    
    .material-icons{
        margin-top: 0;
    }

    .icon2{
        margin-top: 10px;
    }

    .icon3{
        margin-top: 20px;
    }
}

@media only screen and (max-width: 380px){
    .sections{
        width: 100%;
        display: block;
    }  
    
    .section1-bg{
        width: 100%;
    }

    .section1{
        padding: 80px 50px;
    }

    .section2{
        width: 100%;
        padding: 50px;
        margin: 50px 0 120px 0;
    }
}